
.linkedin{
    color: #0B6FAA;
}
.facebook{
    color: #385A9C;
}
.instagram{
    color: #FE2F58;
}
.purple-btn, .bg-purple{
    background-color: #5A258D;
}
.avatar{
    height: 450px;
}
.fa-5xl{
    font-size: 50px;
}
